Source: sc
Section: admin
Priority: optional
Maintainer: clem <root@linuxmint.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: sc
Architecture: all
Depends: python (>= 2.4), python (<< 3), python-gtk2, python-glade2, python-webkit, python-imaging, python-sexy, libgtk2-perl
Description: Software Center
 A software Center to easily install new applications.
